Pod::Spec.new do |s|
    s.name                  = "{{{name}}}"
    s.version               = "{{{containerVersion}}}"
    s.summary               = "{{{summary}}}"
    s.homepage              = "{{{homepage}}}"
    s.license               = "{{{license}}}"
    s.author                = "{{{author}}}"
    s.source                = { :git => "{{{url}}}"}
    s.vendored_frameworks   = "ElectrodeContainer.xcframework"
    s.platform              = :ios
    s.swift_version         = "{{{swift_version}}}"
    s.ios.deployment_target = "{{{deployment_target}}}"
end
